<form class="form">
    <div class="verify-form">
    <div class="title">Enter OTP</div>

    <p class="message">Please enter the 4-digits one time password (OTP) that we sent to your
        registered email</p>
    <div class="inputs"> 
        <input id="input1" type="text" maxlength="1"> 
        <input id="input2" type="text" maxlength="1">
        <input id="input3" type="text" maxlength="1"> 
        <input id="input4" type="text" maxlength="1">
    </div> 
    <button class="action">verify me</button>
    </div>
</form>