<div class="mainContainer">
  <div class="innerContainer">
      <!-- Photo Section -->
      <div class="photoSection">
          <div class="overlayText">
              <h1>Create an Account</h1>
              <p>Sign up to get started</p>
          </div>
      </div>

      <!-- Content Section -->
      <div class="contentSection">
          <!-- Title Section -->
          <div class="titleSection">
              <h2 class="title">Create an Account</h2>
              <p class="subtitle">Sign up to get started</p>
          </div>

          <!-- Social Media Login -->
          <div class="socialMedia">
              <span class="bi bi-google" (click)="loginWithSocialSite('google')"></span>
              <span class="bi bi-twitter" (click)="loginWithSocialSite('twitter')"></span>
              <span class="bi bi-facebook" (click)="loginWithSocialSite('facebook')"></span>
          </div>

          <!-- Divider -->
          <div class="divider">
              <span class="dividerLine"></span>
              <span class="dividerText">OR</span>
              <span class="dividerLine"></span>
          </div>

          <!-- Registration Form -->
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
              <!-- Name Fields -->
              <div class="form-group-for-name">
                  <div class="form-group-name">
                      <label for="firstname" class="form-label">First Name</label>
                      <input type="text" id="firstname" formControlName="firstname" class="form-control"
                          placeholder="Enter your first name" required>
                      <div *ngIf="activeError === 'firstname'" class="error-message" [ngClass]="{ hidden: hideError }">
                          Please enter your first name 👨‍🦰
                      </div>
                  </div>
                  <div class="form-group-name">
                      <label for="lastname" class="form-label">Last Name</label>
                      <input type="text" id="lastname" formControlName="lastname" class="form-control"
                          placeholder="Enter your last name" required>
                      <div *ngIf="activeError === 'lastname'" class="error-message" [ngClass]="{ hidden: hideError }">
                          Please enter your last name 👨
                      </div>
                  </div>
              </div>

              <!-- Email Field -->
              <div class="form-group">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" id="email" formControlName="email" class="form-control"
                      placeholder="Enter your email" required>
                  <div *ngIf="activeError === 'email'" class="error-message" [ngClass]="{ hidden: hideError }">
                      Please enter your email 📧
                  </div>
              </div>

              <!-- Password Fields -->
              <div class="form-group">
                  <label for="password" class="form-label">Password</label>
                  <input type="password" id="password" formControlName="password" class="form-control"
                      placeholder="Enter your password" required>
                  <div *ngIf="activeError === 'password'" class="error-message" [ngClass]="{ hidden: hideError }">
                      Please enter your password 🔒
                  </div>
              </div>
              <div class="form-group">
                  <label for="confirmPassword" class="form-label">Confirm Password</label>
                  <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control"
                      placeholder="Confirm your password" required>
                  <div *ngIf="activeError === 'confirmPassword'" class="error-message" [ngClass]="{ hidden: hideError }">
                      Please confirm your password 🔒
                  </div>
                  <div *ngIf="activeError === 'passwordMismatch'" class="error-message" [ngClass]="{ hidden: hideError }">
                      Password and confirm password do not match 🔒
                  </div>
              </div>

              <!-- Submit Button -->
              <button type="submit" class="btn btn-primary">
                  <span class="btnText">Sign Up</span>
                  <span class="btnIcon">→</span>
              </button>
          </form>

          <!-- Additional Options -->
          <div class="additionalOptions">
              <span class="account-message">Already have an account? </span>
              <a routerLink="/login" class="login-link">Log In</a>
          </div>
      </div>
  </div>
</div>
<app-custom-snackbar></app-custom-snackbar>